<nz-page-header class="site-page-header"  nzBackIcon nzTitle="Title" nzSubtitle="This is a subtitle">
</nz-page-header>
<div style="width: 100%;height: 500px">
  <div nz-row [nzGutter]="24">
    <div nz-col class="gutter-row" [nzSpan]="3">
      <div class="grid-config">
        <nz-tree [nzData]="nodes" nzShowLine (nzClick)="nzEvent($event)"> </nz-tree>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="21">
      <div class="grid-config">Column</div>
    </div>
  </div>
</div>

